.skills {
  background-color: $color-grey-light-1;
  color: black;
  // grid-column: col-start 7 / full-end;
  // padding: 3rem;

  // display: grid;

  // align-content: center;
  // justify-content: center;
  // justify-items: center;
  // grid-row-gap: 2rem;

  // @media only screen and (max-width: $bp-medium) {
  //   grid-column: 1 / -1;
  // }

  &__img {
    width: 100px;
  }

  &__list {
    // display: grid;
    // grid-template-rows: auto;
    // grid-column-gap: 2rem;
    // grid-row-gap: 5vh;

    // align-content: center;
    // justify-content: center;
    // justify-items: center;
    // @media only screen and (max-width: $bp-medium) {
    //   grid-template-columns: repeat(3, min-content max-content);
    // }

    // @media only screen and (max-width: $bp-small) {
    //   grid-template-columns: min-content max-content;
    // }
  }

  &__languages,
  &__frameworks,
  &__database,
  &__devtools,
  &__libraries {
    // max-width: max-content;

    display: grid;
    grid-template-rows: [header] auto [skills] auto;

    gap: 2rem 3rem;
    align-items: center;
    justify-content: center;
    justify-items: center;

    text-align: center;

    padding-bottom: 5rem;
  }

  &__languages {
    grid-template-columns: repeat(3, 18rem);
  }
  &__frameworks {
    grid-template-columns: repeat(4, 18rem);
  }
  &__database {
    grid-template-columns: repeat(2, 18rem);
  }
  &__devtools {
    grid-template-columns: repeat(4, 18rem);
  }
  &__libraries {
    grid-template-columns: repeat(5, 18rem);
  }

  &__header {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 3rem 0 3rem 0;
  }

.skill {
  &__details {
  }
}
